//
//  BaseConfig.xcconfig
//  FlowDown
//
//  Created by king on 2025/10/9.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// following configurations are recommended to use as is
CLOUDKIT_SYNC_CONTAINER_IDENTIFIER = iCloud.$(PRODUCT_BUNDLE_IDENTIFIER).sync

SUPPORTED_PLATFORMS = iphoneos iphonesimulator
SUPPORTED_PLATFORMS[sdk=macosx*] = macosx
SUPPORTS_MACCATALYST = NO
SUPPORTS_MACCATALYST[sdk=macosx*] = YES
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = NO
SUPPORTS_XR_DESIGNED_FOR_IPHONE_IPAD = NO

