//
//  BaseConfig.xcconfig
//  FlowDown
//
//  Created by king on 2025/10/9.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Base.xcconfig"

DEVELOPMENT_TEAM = 964G86XT2P;
PRODUCT_BUNDLE_IDENTIFIER = wiki.qaq.flow;

CLOUDKIT_SYNC_CONTAINER_IDENTIFIER = iCloud.$(PRODUCT_BUNDLE_IDENTIFIER).sync;

CODE_SIGN_STYLE = Automatic;
CODE_SIGN_IDENTITY = Apple Development;
CODE_SIGN_IDENTITY[sdk=macosx*] = Apple Development;
PROVISIONING_PROFILE_SPECIFIER =;
CODE_SIGNING_ALLOWED = YES;
CODE_SIGNING_REQUIRED = YES;
CODE_SIGNING_SUPPORTED = YES;

SUPPORTED_PLATFORMS = iphoneos iphonesimulator;
SUPPORTED_PLATFORMS[sdk=macosx*] = macosx;
SUPPORTS_MACCATALYST = NO;
SUPPORTS_MACCATALYST[sdk=macosx*] = YES;
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = NO;
SUPPORTS_XR_DESIGNED_FOR_IPHONE_IPAD = NO;
